/*
 *  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
 */ 

.App {
  margin-top: 40px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.App::-webkit-scrollbar {
  display: none;
}

.Login {
  margin: auto;
  padding: 50px 0;
  text-align: center;
  width: 300px;
  height: 300px;
  color: black;
}

/*
 * Navbar
 * Source: https://www.w3schools.com/howto/howto_css_fixed_menu.asp
 */

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  box-sizing: border-box; /* https://stackoverflow.com/questions/18943240/css-solution-for-removing-border-from-ul-height-without-using-calc */
}

.navbar-item {
  color: #f2f2f2; 
}

.navbar-logout {
  outline-style: solid;
  outline-color: #f2f2f2;
  outline-width: 2px;
  padding: 0.25em 0.25em;
}

.navbar-logout:hover {
  color: black;
  background-color: #f2f2f2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 0.25em 0 1em 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/**
 *  tab styling source: https://github.com/do-community/building-a-tabs-component-react
 *  source: https://www.w3schools.com/css/css_link.asp
 *  https://stackoverflow.com/questions/8953485/is-it-possible-to-remove-the-hand-cursor-that-appears-when-hovering-over-a-link
 */ 

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  cursor: default;
  border: solid transparent;
  border-width: 1px 1px 0 1px;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  text-decoration: none;    
  color: inherit;
  cursor: default;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
