/*
 *  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
 */ 

.App {
  margin-top: 40px;
}

.Login {
  margin: auto;
  padding: 50px 0;
  text-align: center;
  color: black;
  background-color: white;
  min-height: 100vw;
}

/*
 * Navbar
 * Source: https://www.w3schools.com/howto/howto_css_fixed_menu.asp
 */

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  box-sizing: border-box; /* https://stackoverflow.com/questions/18943240/css-solution-for-removing-border-from-ul-height-without-using-calc */
}

.wyr {
  background-color:#f2f2f2
}

.navbar-item {
  color: #f2f2f2; 
}

.navbar-logout {
  outline-style: solid;
  outline-color: #f2f2f2;
  outline-width: 2px;
  padding: 0.25em 0.25em;
  text-decoration: none;
}

.navbar-logout:hover {
  color: black;
  background-color: #f2f2f2;
}

.App-logo {
  height: 300px;
  pointer-events: none;
  padding: 0.25em 0 1em 0;
}

.avatar {
  height: 300px;
  border-radius: 150px;
  margin: 2px;
}

.App-link {
  color: #61dafb;
}

/**
 *  tab styling source: https://github.com/do-community/building-a-tabs-component-react
 *  source: https://www.w3schools.com/css/css_link.asp
 *  https://stackoverflow.com/questions/8953485/is-it-possible-to-remove-the-hand-cursor-that-appears-when-hovering-over-a-link
 */ 

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  margin: 0;
}

.dashboard-tab {
  position: fixed;
  left: 0; 
  top: 40px;
  width: 100%;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  cursor: default;
  border: solid transparent;
  border-width: 1px 1px 0 1px;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  text-decoration: none;    
  color: inherit;
  cursor: default;
}

.tab-content {
  margin-block-start:0;
  margin-block-end:0;
  display: flex;
  margin-top: 40px;
}

/**
 *  https://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items
 */

.Question-Blurb {
  text-align: center;
  list-style: none;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #dad7d7;
  margin: 10px;
}

.Question-Blurb > div {
  margin: 5px 
}

.Question-Page {
  margin-right: auto;
  margin-left: auto;
}

.pct-bar-wrap {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  margin: 5px;
  display: flex;
}

.pct-bar {
  color: white;
  background-color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.Answer-Selector {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/**
 *  https://stackoverflow.com/questions/4641752/css-how-to-style-a-selected-radio-buttons-label
 */

.Answer-Selector input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Answer-Selector label {
  margin: 10px; 
  display: inline-block;
  background-color: #ddd;
  padding: 30px 11px;
  cursor: pointer;
}

.Answer-Selector input[type="radio"]:checked+label {
  background-color: #bbb;
}

.Option-Text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cm {
  margin-left:0;
  margin-right:0;
}

.New-Question {
  width: 100%; 
  margin: 10px 0; 
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}